<form style="display: none" enctype="multipart/form-data">
    <input type="file" #file (change)="fileChange(file)" accept="image/jpeg" capture="camera">
</form>
<app-header
    [title]="'主页'"
    [leftIcon]="'&#xe751;'"
    (leftIconBack)="file.click()">
</app-header>
<div class="content-tabs">
    <div class="scroll-content">
        <article class="flex" *ngFor="let m of imgs">
            <header class="flex">
                <a class="touxiang">
                    <img src="assets/img/google.png">
                </a>
                <div class="user-info flex">
                    <a class="user-name">gaoyuanfell</a>
                    <div class="position">
                        <a class="address">Vavau, Kingdom of Tonga</a>
                    </div>
                </div>
            </header>
            <div class="photo flex">
                <img [src]="m">
            </div>
            <div class="article">
                <div class="thumbs">
                    <a class="item"><i class="icon">&#xe60c;</i></a>
                    <a class="item"><i class="icon">&#xe615;</i></a>
                </div>
                <div class="thumbs-num">
                    <span>530,445</span> 次赞
                </div>
                <div class="comment">
                    <ul>
                        <li>
                            <a class="comment-user">akhil_singh_rajput</a>
                            <span>Superb</span>
                        </li>
                    </ul>
                </div>
                <div class="article-time">
                    <time datetime="2017-06-08T20:47:11.000Z" title="2017年6月9日">7 小时前</time>
                </div>
            </div>
            <div class="operation flex">
                <button class="operation-btn">
                    <i class="icon">&#xe655;</i>
                </button>
            </div>
        </article>
    </div>
</div>
