<div class="bar-button" *ngIf="leftBack || leftIcon || leftText">
    <div class="button-inner">
        <i *ngIf="leftBack" class="icon" (click)="goLeftBack()">&#xe657;</i>
        <i *ngIf="leftIcon" class="icon" [innerHTML]="leftIcon" (click)="goLeftIcon()"></i>
        <span *ngIf="leftText" (click)="goLeftIcon()">{{leftText}}</span>
    </div>
</div>
<div class="title" *ngIf="title">
    <div class="toolbar-title">
        {{title}}
    </div>
</div>
<div class="bar-button" *ngIf="rightBack || rightIcon || rightText">
    <div class="button-inner">
        <i *ngIf="rightBack" class="icon" (click)="goRightBack()">&#xe63a;</i>
        <i *ngIf="rightIcon" class="icon" [innerHTML]="rightIcon" (click)="goRightIcon()"></i>
        <span *ngIf="rightText" (click)="goRightIcon()">{{rightText}}</span>
    </div>
</div>
<ng-content></ng-content>
