<a class="tab-button" [routerLink]="['index']" routerLinkActive="active">
    <i class="icon tab-button-icon">
        <svg width="30px" height="30px" viewBox="0 0 48 48" class="icon-svg">
            <path d="M20 40V28h8v12h10V24h6L24 6 4 24h6v16z"></path>
        </svg>
    </i>
    <!--<span class="tab-button-text">index</span>-->
</a>
<a class="tab-button" [routerLink]="['article']" routerLinkActive="active">
    <i class="icon tab-button-icon">
        <svg width="30px" height="30px" viewBox="0 0 48 48" class="icon-svg">
            <path d="M18 24c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm10-6c0-2.21-1.79-4-4-4s-4 1.79-4 4 1.79 4 4 4 4-1.79 4-4zM24 4C12.95 4 4 12.95 4 24s8.95 20 20 20 20-8.95 20-20S35.05 4 24 4zm0 36c-8.84 0-16-7.16-16-16S15.16 8 24 8s16 7.16 16 16-7.16 16-16 16zm6-16c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4z"></path>
        </svg>
    </i>
    <!--<span class="tab-button-text">article</span>-->
</a>

<!--capture="camera"-->
<form style="display: none" enctype="multipart/form-data">
    <input type="file" #file style="display: none" (change)="fileChange(file)" accept="image/jpeg">
</form>
<a class="tab-button" (click)="file.click()">
    <i class="icon tab-button-icon">&#xe627;</i>
    <!--<span class="tab-button-text">about</span>-->
</a>

<a class="tab-button" [routerLink]="['about']" routerLinkActive="active">
    <i class="icon tab-button-icon">
        <svg width="30px" height="30px" viewBox="0 0 48 48" class="icon-svg">
            <path d="M24 21.17l-9.41-9.41 6.58-6.58c1.56-1.56 4.1-1.56 5.66 0l6.58 6.58L24 21.17zm-9.41 15.07l6.58 6.58c1.56 1.56 4.1 1.56 5.66 0l6.58-6.58L24 26.83l-9.41 9.41zm-2.83-21.65l-6.58 6.58c-1.56 1.56-1.56 4.1 0 5.66l6.58 6.58L21.17 24l-9.41-9.41zm31.07 6.58l-6.58-6.58L26.83 24l9.41 9.41 6.58-6.58c1.57-1.56 1.57-4.1.01-5.66z"></path>
        </svg>
    </i>
    <!--<span class="tab-button-text">about</span>-->
</a>
<a class="tab-button" [routerLink]="['user']" routerLinkActive="active">
    <i class="icon tab-button-icon">
        <svg width="30px" height="30px" viewBox="0 0 24 24" class="icon-svg">
            <path d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z"></path>
        </svg>
    </i>
    <!--<span class="tab-button-text">user</span>-->
</a>
