@font-face {
    font-family: 'moka';  /* project id 295564 */
    src: url('https://at.alicdn.com/t/font_rydla8uf1u9mgqfr.eot');
    src: url('https://at.alicdn.com/t/font_rydla8uf1u9mgqfr.eot?#iefix') format('embedded-opentype'),
    url('https://at.alicdn.com/t/font_rydla8uf1u9mgqfr.woff') format('woff'),
    url('https://at.alicdn.com/t/font_rydla8uf1u9mgqfr.ttf') format('truetype'),
    url('https://at.alicdn.com/t/font_rydla8uf1u9mgqfr.svg#moka') format('svg');
}

.icon {
    font-family: "moka" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

body,
h1,
h2,
h3,
h4,
dl,
dt,
dd,
ul,
ol,
li,
a,
div,
em,
span,
img,
form,
input,
p,
i {
    padding: 0;
    margin: 0;
    border: none;
}

em,
i,
cite {
    word-wrap: break-word;
    font-style: normal;
}

ul,
li {
    list-style: none;
}

a,
a:visited,
a:active {
    color: #3C3C3C;
    text-decoration: none;
}

a,
button,
span,
i,
div,
h2,
aside {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input:focus::-webkit-input-placeholder {
    color: #b7b7b7;
}

input::-webkit-input-placeholder {
    color: #ccc;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
    display: block;
    margin: 0;
    padding: 0;
}

audio,
canvas,
progress,
video {
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

b,
strong {
    font-weight: bold;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    height: 1px;
    border-width: 0;
    box-sizing: content-box;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

input,
button,
textarea {
    border: none;
    /*-webkit-appearance: none;*/
    -moz-appearance: none;
    -webkit-border-image: none;
    border-image: none;
    -webkit-border-radius: 0;
    border-radius: 0;
}

input:focus,
textarea:focus {
    outline: 0 none;
}

label,
input,
select,
textarea {
    font-family: inherit;
    line-height: normal;
}

textarea {
    overflow: auto;
    height: auto;
    font: inherit;
    color: inherit;
}

textarea::-webkit-input-placeholder {
    padding-left: 2px;
}

textarea:-ms-input-placeholder {
    padding-left: 2px;
}

textarea::placeholder {
    padding-left: 2px;
}

form,
input,
optgroup,
select {
    margin: 0;
    font: inherit;
    color: inherit;
}

html input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}

a {
    background-color: transparent;
}

/*::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #6e6e6e;
    outline: 1px solid #333;
}

::-webkit-scrollbar-trac {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}*/
input[type=submit]{
    padding: 0 8px;
    cursor: pointer;
    -webkit-appearance: none;
    border-radius: 3px;
    border-color: #3897f0;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #3897f0;
    color: #fff;
}

.form-group{
    padding: 0 20px;
    margin-top: 16px;
}

.form-label{
    font-size: 16px;
    font-weight: bold;
}

.form-control{
    background: 0 0;
    border: 1px solid #efefef;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #262626;
    font-size: 16px;
    height: 32px;
    padding: 0 10px;
    width: 100%;
    margin-top: 10px;
}

.form-control-radio{
    height: 32px;
    width: 100%;
    margin-top: 10px;
}

textarea.form-control{
    height: 60px;
    padding: 6px 10px;
    resize: vertical;
}
