<app-header
    [title]="'动态'">
</app-header>
<div class="content-tabs">
    <div class="scroll-content">
        <section>
            <ul class="comment-list flex">
                <li class="item">
                    <div class="flex">
                        <a class="item-img">
                            <img src="assets/img/ab.jpg">
                        </a>
                    </div>
                    <div class="text flex">
                        <a class="user-name">marymartinezijmb</a>
                        赞了你的照片
                        <time datetime="2017-06-08T21:41:53.010Z">11 小时</time>
                    </div>
                    <div class="flex">
                        <img class="img-data" src="assets/img/ab.jpg">
                    </div>
                </li>
                <li class="item">
                    <div class="flex">
                        <a class="item-img">
                            <img src="assets/img/ab.jpg">
                        </a>
                    </div>
                    <div class="text flex">
                        <a class="user-name">marymartinezijmb</a>
                        赞了你的照片
                        <time datetime="2017-06-08T21:41:53.010Z">11 小时</time>
                    </div>
                    <div class="flex">
                        <img class="img-data" src="assets/img/ab.jpg">
                    </div>
                </li>
                <li class="item">
                    <div class="flex">
                        <a class="item-img">
                            <img src="assets/img/ab.jpg">
                        </a>
                    </div>
                    <div class="text flex">
                        <a class="user-name">marymartinezijmb</a>
                        赞了你的照片
                        <time datetime="2017-06-08T21:41:53.010Z">11 小时</time>
                    </div>
                    <div class="flex">
                        <img class="img-data" src="assets/img/ab.jpg">
                    </div>
                </li>
            </ul>
        </section>
    </div>
</div>
