<app-header
    [title]="'个人主页'"
    [leftIcon]="'&#xe60e;'"
    [rightIcon]="'&#xe601;'">
</app-header>
<div class="content-tabs">
    <div class="scroll-content">
        <header class="user flex">
            <div class="user-info">
                <div class="user-img">
                    <img src="assets/img/touxiang.jpg">
                </div>
            </div>
            <div class="user-name flex">
                <div class="user-modify">
                    <h1>gaoyuanfell</h1>
                </div>
                <div class="user-room flex">
                    <a [routerLink]="['/user-info']">
                        编辑个人主页
                    </a>
                </div>
            </div>
        </header>
        <div class="user-tool">
            <h2>释迦摩尼</h2>
        </div>
        <ul class="details flex">
            <li>
                帖子
                <span>4</span>
            </li>
            <li>
                关注者
                <span>4</span>
            </li>
            <li>
                正在关注
                <span>4</span>
            </li>
        </ul>
        <article class="flex">
            <div class="list flex">
                <div class="item">
                    <div class="item-bottom">
                        <img src="assets/img/a.jpg">
                    </div>
                </div>
                <div class="item">
                    <div class="item-bottom">
                        <img src="assets/img/b.jpg">
                    </div>
                </div>
                <div class="item">
                    <div class="item-bottom">
                        <img src="assets/img/c.jpg">
                    </div>
                </div>
            </div>
            <div class="list flex">
                <div class="item">
                    <div class="item-bottom">
                        <img src="assets/img/a.jpg">
                    </div>
                </div>
                <div class="item">
                    <div class="item-bottom">
                        <img src="assets/img/b.jpg">
                    </div>
                </div>
                <div class="item">
                    <div class="item-bottom">
                        <img src="assets/img/c.jpg">
                    </div>
                </div>
            </div>
            <div class="list flex">
                <div class="item">
                    <div class="item-bottom">
                        <img src="assets/img/a.jpg">
                    </div>
                </div>
                <div class="item">
                    <div class="item-bottom">
                        <img src="assets/img/b.jpg">
                    </div>
                </div>
                <div class="item">
                    <div class="item-bottom">
                        <img src="assets/img/c.jpg">
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
